.EditPackage{
    .loading{
        height: 60vh;
        align-self: center;
        
    }

    .back-button{
        display: flex;
        flex-direction: row;
        gap:1rem;
        margin-top: -1rem;
        margin-bottom: 2rem;
        cursor: pointer;
    }
   
    border-radius: 0.5rem;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
    // margin: auto;
    // height: 80vh;
    // text-align: center;
    padding: 3rem;
    // width: 100%;
    .header{
        margin-bottom: 3rem;
        font-size: 25px;
        background-color: white;
    }
   
    .content-wrapper-1{
      
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        font-size: 10px;

        .MuiTreeItem-label{
            .sigle-line{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 10px;
                button{
                    width: 5rem;
                }
            }
           
        }
    }

    .package-title {
        font-size: 20px;
    }

    .information-title {
        font-size: 15px;
    }
    
    .container {
        width: 100%;
        text-align: left;
    }

    .modal{
        .modal-content{
            padding: 2rem;
            border-radius: 1rem;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon-outer{
                border-radius: 50%;
                background-color: #feecf0;
                padding: 1rem;
            }
            p{
                text-align: center;
                margin-top: 2rem;
            }
            .delete-footer{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 2rem;
                width: 100%;
                margin-top: 1rem;
            }
        }
    }

}